@import "../../_common.styl"

.logo
  @extend .wrapper
  margin-bottom: 42px

  &__border
    text-align: center
    background-color: #eee
    width: 364px
    margin: 0 auto
    padding-top: 66px
    background: linear-gradient(to bottom, #000, #0b4fa9)

    border-radius:  0 0 60px 60px
    box-shadow: 0 0 9px 0 rgba(0,0,0, .75)

    color: #fff


  &__text

    &_large
      font-size: 72px
      text-shadow: 0 4px 5px rgba(0, 0, 0, 0.75)
    &_small
      font-size: 18px
      padding-bottom: 60px