@import "../../_common.styl"

.carousel
  @extend .wrapper
  margin-bottom: 32px

  &__arrow
    cursor pointer

    color: #fff
    font-size: 30px
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
    margin-top: 60px

    &-left
      float: left
      margin-left: -30px

    &-right
      float: right
      margin-right: -30px

  &__list
    margin: 0
    bottom: 0
    padding: 0

    &-item
      @extend .box

      display: inline-block
      list-style none
      overflow: hidden
      background-color: #ebebd1

      width: 279px

      margin-left: 43px

      &:first-child
        margin-left: 0
      &-title
        text-align: center
        font-size: 36px
        color: #fff
        padding: 4px 0

        &_bgcolor
          &-darkGreen
            background-color: #1b4801
          &-lightGreen
            background-color: #008c00
          &-brown
            background-color: #6d0019
      &-link
        text-align: center

        padding: 18px 0
        display: block