@import "../../_common.styl"

.search
  @extend .box

  display: inline-block
  list-style none
  overflow: hidden
  background-color: #ebebd1

  &__title
    background-color: #000
  &__body
    width: 100%
