@import "../../_common.styl"

.search
  @extend .box
  float: right

  width: 280px
  height: 100%

  position: absolute // for height 100% and float child
  right: 0

  overflow: hidden
  background-color: #ebebd1

  &__title
    background-color: #000

    color: #fff
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px
    text-transform: uppercase
    text-align: center

    padding: 12px

