@import '../node_modules/normalize-styl/normalize.styl'
@import "./_common.styl"
@import "./_mixins.styl"


body
  min-width: 1024px
  //min-width: 924px
  background-color: #ffa83b

.content
  @extend .wrapper
  clearfix()

  position: relative
  margin-bottom: 42px
