@import '../node_modules/normalize-styl/normalize.styl'

body
  min-width: 1024px
  //min-width: 924px
  background-color: #ffa83b

.content
  margin-bottom: 42px

.article-list
  width: 602px
  margin-right: 42px
